<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" type="image/png" href="./images/logo-white.png">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="./css/styles.css">

        <title>Recommend-IT-AI: Home</title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav">
                <a href="#" class="nav__logo">Recommend-IT</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <!-- <li class="nav__item"><a href="#learn_more" class="nav__link">Learn More</a></li> -->
                        <li class="nav__item"><a href="#shop" class="nav__link">Shop</a></li>
                        <li class="nav__item"><a href="#trending" class="nav__link">Discover what's Trending</li>
                        <!-- <li class="nav__item"><a href="#news" class="nav__link">News</li> -->
                        <li class="nav__item"><a href="#contact_us" class="nav__link">Email Us</a></li>  
                        <li class="nav__item signIn"><a href="/signIn" class="nav__link signinout">Sign In</a></li>    
                        <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="./images/img/landingpageTopImage-2.png" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Hi, I am PD-AI, Your Personalized Product Recommendations Buddy &#128092;</h1>
                        <p class="home__description">Powered by ML algorithms, I can help you discover new products that will make your life better.
                        </p>
                        <!--This will redirect to the Login/Signup page-->
                        <a href="#" class="button">Get Started</a>
                    </div>   
                </div>
            </section>


            <!--========== CATEGORIES ==========-->
            <section class="decoration section bd-container" id="shop">
                <h2 class="section-title">Find Everything You <br> Will Ever Need</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                        <img src="./images/img/hassel.gif" alt="" class="decoration__img" id="hassle">
                        <h3 class="decoration__title">Let us hassle for you</h3> 
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>

                    <div class="decoration__data">
                        <img src="./images/img/sitBack.gif" alt="" class="decoration__img" id="Relax">
                        <h3 class="decoration__title">Sit Back and Relax</h3>
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>

                    <div class="decoration__data">
                        <img src="./images/img/everyThingYouNeed.gif" alt="" class="decoration__img" id="Personalized">
                        <h3 class="decoration__title">Personalized Product Recommendations</h3>
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>
                </div>
            </section>
            <!--========== trending ==========-->
            <section class="share section bd-container" id="trending">
                <div class="recipe__container bd-grid">
                    <div class="recipe__data">
                        <h2 class="section-title-center">Buying Something? <br> How about some new trending? &#128521;</h2>
                        <p class="recipe__description">Discover our top pick, specially
                            personalized to cater to your tastes, and relish the convenience of experiencing
                            it all without stepping a foot outside!</p>
                        <a href="/trending" class="button">Whats Trendin</a>
                    </div>

                    <div class="recipe__img">
                        <img src="./images/img/trend.gif" alt="">
                    </div>
                </div>
            </section>

            <!--========== REACH OUT TO DEVELOPERS ==========-->
            <section class="send section" id="contact_us">
                <div class="send__container bd-container bd-grid">
                    <div class="send__content">
                        <h2 class="section-title-center send__title">Having a Problem?</h2>
                        <p class="send__description">Reach Out to to us in case you are having any trouble in using our platform.</p>
                        <form action="">
                            <div class="send__direction">
                                <input type="text" placeholder="Type Message" class="send__input">
                                <a href="#" class="button">Send</a>
                            </div>
                        </form>
                    </div>

                    <div class="send__img">
                        <img src="./images/img/help.png" alt="">
                    </div>
                </div>
            </section>
        </main>

        
        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="./javascript/main.js"></script>
    </body>
</html>